/* CSS Reset  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
	font-size: 62.5% !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  	vertical-align: baseline;
  /* border: 1px solid red;   */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}

/* CSS Starts Here */

* {
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  width: 100%; 
  margin: 0 auto; 
  font-family: 'Roboto', sans-serif; 
}

/* Navigation CSS */

.navigation {
	display: flex; 
	justify-content: space-between;
	align-items: center; 
	height: 75px;
	width: 87%;  
	margin: auto; 
}

.navigation .logo {
	text-decoration: none;
	font-size: 3rem; 
	color: #222222;
}

.navigation .nav-links {
	display: flex; 
	align-content: center; 
	height: 100%; 
}

.navigation .nav-links-menu img {
	display: none; 
	width: 30px;
	height: auto; 
}

.navigation .nav-links a {
	display: flex; 
	align-items: center; 
	color:#222222; 
	margin-left: 25px;
	text-decoration: none; 
	font-size: 1.8rem;
}

.navigation .nav-links a:hover {
	cursor: pointer; 
	border-top: 3px solid lightgrey;
}

@media (max-width: 800px) {
	.navigation .nav-links {
		display: none; 
	}

	.navigation .nav-links-menu img {
		display: flex; 
	}
}

/* Home CTA CSS */

.home-cta-container {
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 400px; 
	background-color: #4DBD90;
	color: #FFFFFF; 
}

.cta-text {
	width: 45%;
	height: auto; 
}

.cta-text h2 {
	font-size: 3.5rem;
	font-weight: bold; 
}

.cta-text p {
	font-size: 2.5rem;
	margin: 20px 0;  
}

.cta-image {
	width: 40%;
	margin-left: 20px;  
}

.cta-image img {
	width: 100%;
	height: auto;
	border-radius: 4px;   
}

.cta-text .btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;  
	height: 50px; 
	width: 125px;
	margin-right: 15px;
	border: 2px solid #222222;  
	border-radius: 3px;
	font-size: 1.8rem; 
}

.cta-text .btn:hover {
	cursor: pointer; 
	background-color: #FFFFFF;
	color: #222222;
	border: none; 
}

.cta-text .sign-up {
	background-color: #222222;
	width: 100px;
	color: #FFFFFF; 
}

.cta-text .learn-more {
	color: #222222;
}

@media (max-width: 800px) {
	.cta-image {
		display: none; 
	}

	.cta-text {
		width: 87%;
		height: 66%;  
	}
} 

/* IN THE PRESS */
.press-bar {
	padding-top: 10px;
	background-color: #3E5C50;
	height: 100px; 
}

.press-bar h3 {
	text-align: center;  
	font-size: 2.5rem; 
}

.press-bar .press-logos img {
	height: 75%; 
	width: auto;  
	margin: 0 30px; 
}

.press-logos {
	display: flex; 
	justify-content: center;
	align-items: center;
	height: 50px;   
}

.press-logos .text-logo {
	padding: 8px;
}

/* home features styling */

.home-features-container {
	padding: 60px;
	text-align: center; 
}

.home-features-container h2 {
	font-size: 3rem; 
	margin-bottom: 15px; 
}

.home-features-container p {
	font-size: 1.7rem; 
}

.initiate-loan {
	display: flex;
	justify-content: center; 
	margin: 50px auto;
	width: 87%;
	height: auto; 
}

@media (max-width: 800px) {
	.initiate-loan {
		flex-direction: column;
		align-items: center;
	}

	.initiate-loan .initiate-text {
		text-align: center; 
	}

	.initiate-loan img {
		width: 100%; 
	}
}

.initiate-loan img {
	width: 50%;
	height: 100%;
	border-radius: 4px;  
}

.initiate-text {
	text-align: left;
	margin-left: 15px; 
}

.initiate-text h3 {
	font-weight: bold; 
	margin: 20px 0; 
	font-size: 2rem; 
}

.agreement {
	display: flex;
	justify-content: center; 
	margin: 50px auto;
	width: 87%;
	height: auto; 
}

.agreement img {
	width: 50%;
	height: 100%; 
	border-radius: 4px;
}

.agreement-text {
	text-align: left;
	margin-right: 15px; 
}

.agreement-text h3 {
	font-weight: bold; 
	margin: 20px 0;
	font-size: 2rem; 
}

@media (max-width: 800px) {
	.agreement {
		flex-direction: column-reverse;
		align-items: center; 
	}

	.agreement .agreement-text {
		text-align: center; 
	}

	.agreement img {
		width: 100%; 
	}
}

.features {
	display: flex;
	text-align: left;  
}

.feature {
	margin: 0 8px; 
}

.features h4 {
	font-size: 2rem; 
	font-weight: bold; 
	margin: 10px 0; 
}

@media (max-width: 800px) {
	.features {
		flex-direction: column;
	}

	.feature {
		text-align: center;
	}
}

/* home pricing component */

.home-pricing-container {
	height: 230px;
	background-color: #DDE7ED;  
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-pricing-container h2 {
	font-size: 3.2rem; 
	margin: 20px 0; 
}

.home-pricing-container p {
	width: 500px; 
	font-size: 1.7rem; 
}

/* home references */

.references {
	height: 450px;
	text-align: center;  
}

.references h2 {
	margin: 70px 0 30px; 
	font-size: 3.2rem; 
}

.references-carousel img {
	width: 65%;
	height: 275px;  
}

.references-carousel .left-button, .references-carousel .right-button {
	font-size: 40px;
	margin: 5px;  
}

.references-carousel {
	display: flex; 
	justify-content: center;
	align-items: center; 
}

/* footer styling */

.footer-container {
	display: flex; 
	justify-content: space-between;
	background-color: #2B2C2E;
	color: #FFFFFF;
	padding: 40px;  
}

.footer-container .email-signup {
	width: 400px; 
	font-size: 1.7rem; 
}

.footer-container .email-signup h2 {
	font-size: 2.7rem; 
	margin-bottom: 15px; 
}

.footer-container .email-signup p {
	font-size: 1.7rem; 
	margin-bottom: 15px; 
	color: #939596;
}

.footer-container .email-signup .social-links a {
	text-decoration: none; 
	color: #FFFFFF; 
	margin-right: 10px; 
}

.email-signup .subscribe {
	display: flex;
	height: 35px;
	margin-bottom: 15px; 
}

.email-signup .subscribe .btn-subscribe {
	width: 150px; 
	display: flex;
	justify-content: center;
	align-items: center; 
	background-color: #939596;
}

.email-signup .subscribe .btn-subscribe:hover {
	cursor: pointer; 
	background-color: #4DBD90;
}

.email-signup .subscribe input {
	padding-left: 10px; 
	width: 250px;
}

.footer-container .footer-links {
	display: flex; 
	flex-direction: column;
	margin-left: 30px;
	font-size: 1.8rem;  
}

.footer-container .footer-links a {
	text-decoration: none; 
	color: #939596;
	margin: 8px 0 0;  
}

.footer-container .footer-links a:hover {
	cursor: pointer;
	padding-bottom: 3px; 
	border-bottom: 1px solid #939596;
	border-bottom-left-radius: 5px; 
}

@media (max-width: 800px) {
	.footer-container .email-signup {
		width: 250px; 
	}
}

/* Login Styling */

.login-container {
	width: 400px; 
	height: 600px; 
	margin: auto; 
	border: 1px solid red; 
}

.login-container .login-or-signup {
	display: flex; 
	justify-content: space-around;
	align-items: center; 
	height: 75px; 
	font-size: 2.5rem; 
}

.login-container .login-or-signup .login-btn, .login-container .login-or-signup .signup-btn {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100%; 
	width: 100%; 
	text-decoration: none; 
	color: #222222; 
	border: 1px solid #222222; 
	border-bottom-left-radius: 10px; 
}

.login-container .login-entry, .login-container .signup-entry {
	width: 100%; 
	height: 84%;
	border: 1px solid blue;  
}

.login-container .exit {
	display: inline-block;
	font-size: 2rem;
	border: 1px solid green; 
}

/* Create a Loan */

.loan-container .loan-header {
	border: 1px solid red; 
	height: 100px;
	display: flex; 
	justify-content: center; 
	align-items: center;   
}

.loan-container .loan-header h2 {
	border: 1px solid red;
	font-size: 3.5rem;  
}

.loan-container .input-container {
	display: flex; 
	height: 87vh; 
}

.loan-container .input-container .input {
	border: 1px solid red; 
	height: 100%; 
	width: 45%; 
}

.loan-container .form-container {
	border: 1px solid red; 
	height: 100%; 
	width: 55%; 
	margin: 0 auto; 
}